nav {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding: 12px;
  background-color: #333;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a.active:hover {
  text-decoration: underline;
  background-color: #77ddf7;
}

